@charset "UTF-8";
#LB250307candy {
  /* Common */
  margin: 0;
  padding: 0;
  font-family: "presti-display", serif;
  font-weight: 400;
  font-style: normal;
  color: #161616;
  /* fade */
  /* mv */
  /* slider */
}
#LB250307candy .font_feature__palt {
  font-feature-settings: "palt";
}
#LB250307candy picture {
  display: block;
  width: 100%;
}
#LB250307candy a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #161616;
}
#LB250307candy a:hover {
  opacity: 0.7;
}
#LB250307candy img {
  width: 100%;
}
#LB250307candy ul {
  margin: 0;
  padding: 0;
}
#LB250307candy li {
  list-style: none;
}
#LB250307candy .js-fadeIn {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
}
#LB250307candy .js-fadeIn.visible {
  opacity: 1;
  visibility: visible;
}
#LB250307candy .js-fadeInLeft {
  opacity: 0;
  visibility: hidden;
  transform: translateX(80px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
#LB250307candy .js-fadeInRight {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-80px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
#LB250307candy .js-fadeInLeft.visible,
#LB250307candy .js-fadeInRight.visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
#LB250307candy .js-fadeInMv {
  opacity: 0;
  visibility: hidden;
  transition: all ease 1s;
}
#LB250307candy .js-fadeInMv.visible {
  visibility: visible;
  opacity: 1;
}
#LB250307candy .replace__img {
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s, visibility 2s;
}
#LB250307candy .replace__img.visible {
  opacity: 1;
  visibility: visible;
}
#LB250307candy .pc-only {
  display: block;
}
#LB250307candy .sp-only {
  display: none;
}
@media screen and (max-width: 750px) {
  #LB250307candy .pc-only {
    display: none;
  }
  #LB250307candy .sp-only {
    display: block;
  }
}
#LB250307candy .mv {
  margin-left: 20.4rem;
  width: 92.3rem;
}
#LB250307candy .mv__img {
  width: 100%;
}
#LB250307candy .mv__text_wrap {
  margin-top: 3.9rem;
}
#LB250307candy .mv__text {
  text-align: center;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 1.42rem;
}
#LB250307candy .mv__text--1 {
  letter-spacing: 0.14rem;
}
#LB250307candy .mv__text--2 {
  margin-top: 0.72rem;
  letter-spacing: 0.114rem;
  font-size: 1.46rem;
}
@media screen and (max-width: 750px) {
  #LB250307candy .mv {
    margin-left: 0;
    width: calc(750 * 0.1333333333vw);
  }
  #LB250307candy .mv__text_wrap {
    margin-top: 6.7rem;
  }
  #LB250307candy .mv__text {
    font-size: calc(26.44 * 0.1333333333vw);
  }
  #LB250307candy .mv__text--2 {
    margin-top: 1.02rem;
  }
  #LB250307candy .mv__text--3 {
    margin-top: 1.22rem;
  }
}
#LB250307candy .sec_1 {
  margin-top: 11.01rem;
}
#LB250307candy .sec_1__inner {
  display: grid;
  grid-template-columns: 45.4rem 40.8rem 35.1rem;
  grid-template-rows: 33.6rem 23.9rem 9.5rem 12.3rem;
  margin: 0 auto;
  width: 121.4rem;
}
#LB250307candy .sec_1__img_1_wrap {
  grid-column: 2/2;
  grid-row: 1/2;
  position: relative;
  width: 44.26rem;
}
#LB250307candy .sec_1__img_1_wrap::before {
  position: absolute;
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/pc_bg_1.jpg");
  width: 69.24rem;
  height: 46rem;
  left: -45.2rem;
  bottom: -36.54rem;
  z-index: -1;
  pointer-events: none;
}
#LB250307candy .sec_1__credits_ul {
  grid-column: 2/2;
  grid-row: 2/2;
  margin-top: 2.3rem;
  font-size: 1.27rem;
  letter-spacing: 0.02rem;
  line-height: 1.65rem;
}
#LB250307candy .sec_1__credits_li {
  margin-top: 0.82rem;
}
#LB250307candy .sec_1__credits_li:first-child {
  margin-top: 0;
}
#LB250307candy .sec_1__img_2_warp {
  position: relative;
  grid-column: 3/3;
  grid-row: 2/2;
  width: 34.6rem;
  height: 30rem;
  border: solid 6px white;
  background-color: white;
  z-index: 100;
}
#LB250307candy .sec_1__img_2 {
  position: absolute;
}
@media screen and (max-width: 750px) {
  #LB250307candy .sec_1 {
    margin-top: 14.51rem;
  }
  #LB250307candy .sec_1__inner {
    grid-template-columns: calc(40 * 0.1333333333vw) calc(243 * 0.1333333333vw) calc(349 * 0.1333333333vw) calc(118 * 0.1333333333vw);
    grid-template-rows: calc(770 * 0.1333333333vw) calc(100 * 0.1333333333vw) calc(118 * 0.1333333333vw) calc(390 * 0.1333333333vw);
  }
  #LB250307candy .sec_1__img_1_wrap {
    grid-column: 1/3;
    width: calc(630 * 0.1333333333vw);
  }
  #LB250307candy .sec_1__img_1_wrap::before {
    content: "";
    background-image: url("../img/sp_bg_1.jpg");
    width: calc(750 * 0.1333333333vw);
    height: calc(750 * 0.1333333333vw);
    top: calc(314 * 0.1333333333vw);
    left: 0;
  }
  #LB250307candy .sec_1__img_2_warp {
    grid-column: 3/4;
    width: calc(460 * 0.1333333333vw);
    border: solid 9px white;
  }
  #LB250307candy .sec_1__credits_ul {
    grid-column: 2/2;
    grid-row: 3/3;
    margin-top: calc(-5 * 0.1333333333vw);
    font-size: 2.27rem;
    letter-spacing: 0.8px;
    line-height: 3.75rem;
  }
}
#LB250307candy .sec_2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 11.45rem;
}
#LB250307candy .sec_2__img_wrap {
  position: relative;
  width: 53.8rem;
}
#LB250307candy .sec_2__img_text {
  position: absolute;
  text-align: center;
  font-size: 3.68rem;
  color: white;
}
#LB250307candy .sec_2__img_text--1 {
  top: 2.44rem;
  left: 19.13rem;
  letter-spacing: 0.02rem;
}
#LB250307candy .sec_2__img_text--2 {
  top: 5.2rem;
  left: 21.9rem;
}
#LB250307candy .sec_2__img_text--3 {
  top: 8rem;
  left: 20.35rem;
}
#LB250307candy .sec_2__credits_ul {
  margin-top: 2.3rem;
  font-size: 1.27rem;
  letter-spacing: 0.02rem;
  line-height: 1.65rem;
  width: 53.8rem;
}
#LB250307candy .sec_2__credits_li {
  margin-top: 0.9rem;
}
#LB250307candy .sec_2__credits_li:first-child {
  margin-top: 0;
}
@media screen and (max-width: 750px) {
  #LB250307candy .sec_2 {
    margin-top: calc(160 * 0.1333333333vw);
  }
  #LB250307candy .sec_2__img_wrap {
    width: calc(750 * 0.1333333333vw);
  }
  #LB250307candy .sec_2__img_text {
    font-size: calc(50 * 0.1333333333vw);
  }
  #LB250307candy .sec_2__img_text--1 {
    top: calc(30 * 0.1333333333vw);
    left: calc(271 * 0.1333333333vw);
  }
  #LB250307candy .sec_2__img_text--2 {
    top: calc(67.8 * 0.1333333333vw);
    left: calc(308.7 * 0.1333333333vw);
  }
  #LB250307candy .sec_2__img_text--3 {
    top: calc(106 * 0.1333333333vw);
    left: calc(287.7 * 0.1333333333vw);
  }
  #LB250307candy .sec_2__credits_ul {
    margin-top: calc(49 * 0.1333333333vw);
    padding-left: calc(82 * 0.1333333333vw);
    width: 100%;
    font-size: calc(23.6 * 0.1333333333vw);
    letter-spacing: calc(0.7 * 0.1333333333vw);
  }
  #LB250307candy .sec_2__credits_li {
    margin-top: calc(31 * 0.1333333333vw);
  }
}
#LB250307candy .sec_3 {
  margin-top: 11.24rem;
}
#LB250307candy .sec_3__img_wrap {
  margin: 0 auto;
  width: 30.8rem;
}
@media screen and (max-width: 750px) {
  #LB250307candy .sec_3 {
    margin-top: calc(163 * 0.1333333333vw);
  }
  #LB250307candy .sec_3__img_wrap {
    width: calc(460 * 0.1333333333vw);
  }
}
#LB250307candy .sec_4 {
  margin-top: 10.95rem;
}
#LB250307candy .sec_4__inner {
  position: relative;
  display: grid;
  grid-template-rows: 10rem 42.5rem 10rem 9.5rem;
  grid-template-columns: 13.5rem 32.67rem 11.57rem 48rem;
  margin: 0 auto;
  width: 106rem;
}
#LB250307candy .sec_4__img_1_wrap {
  position: relative;
  grid-column: 2/3;
  grid-row: 2/3;
  width: 32.69rem;
}
#LB250307candy .sec_4__img_1_wrap::before {
  position: absolute;
  content: "";
  background-image: url(../img/pc_bg_2.jpg);
  top: -10rem;
  left: -13.43rem;
  width: 32.69rem;
  height: 42.5rem;
  z-index: -1;
}
#LB250307candy .sec_4__img_2_wrap {
  grid-column: 4/4;
  grid-row: 1/2;
  width: 48.1rem;
}
#LB250307candy .sec_4__credits_ul {
  grid-column: 4/4;
  grid-row: 4/4;
  margin-top: 2.91rem;
  font-size: 1.27rem;
  letter-spacing: 0.02rem;
  line-height: 1.62rem;
  width: 35rem;
}
#LB250307candy .sec_4__credits_li {
  margin-top: 0.9rem;
}
#LB250307candy .sec_4__credits_li:first-child {
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  #LB250307candy .sec_4 {
    margin-top: calc(154 * 0.1333333333vw);
  }
  #LB250307candy .sec_4__inner {
    grid-template-rows: calc(870 * 0.1333333333vw) calc(53 * 0.1333333333vw) calc(239 * 0.1333333333vw) calc(598 * 0.1333333333vw);
    grid-template-columns: calc(40 * 0.1333333333vw) calc(105 * 0.1333333333vw) calc(460 * 0.1333333333vw) calc(65 * 0.1333333333vw);
  }
  #LB250307candy .sec_4__img_1_wrap {
    grid-column: 3/3;
    grid-row: 4/4;
    width: calc(460 * 0.1333333333vw);
  }
  #LB250307candy .sec_4__img_1_wrap::before {
    background-image: url(../img/sp_bg_2.jpg);
    left: calc(176 * 0.1333333333vw);
    top: calc(-410 * 0.1333333333vw);
    width: calc(430 * 0.1333333333vw);
    height: calc(558 * 0.1333333333vw);
  }
  #LB250307candy .sec_4__img_2_wrap {
    grid-column: 1/2;
    width: calc(670 * 0.1333333333vw);
  }
  #LB250307candy .sec_4__credits_ul {
    grid-column: 2/2;
    grid-row: 3/3;
    margin-top: calc(5 * 0.1333333333vw);
    font-size: calc(24 * 0.1333333333vw);
    letter-spacing: calc(0.6 * 0.1333333333vw);
  }
  #LB250307candy .sec_4__credits_li {
    margin-top: calc(31 * 0.1333333333vw);
  }
}
#LB250307candy .sec_5 {
  margin-top: 11.3rem;
  margin-left: 43.15rem;
}
#LB250307candy .sec_5__img_wrap {
  width: 44.24rem;
}
#LB250307candy .sec_5__credits_ul {
  margin-top: 2.31rem;
  font-size: 1.27rem;
  letter-spacing: 0.02rem;
  line-height: 1.62rem;
  width: 35rem;
}
#LB250307candy .sec_5__credits_li {
  margin-top: 0.9rem;
}
#LB250307candy .sec_5__credits_li:first-child {
  margin-top: 0;
}
#LB250307candy .sec_6 {
  margin-top: 11.25rem;
}
#LB250307candy .sec_6__inner {
  display: grid;
  grid-template-rows: 19.25rem 23.2rem 34.25rem;
  grid-template-columns: 44.2rem 30.85rem 32.68rem;
  width: 111.6rem;
  margin: 0 auto;
}
#LB250307candy .sec_6__img_1_wrap {
  grid-row: 2/2;
  grid-column: 1/1;
  width: 44.2rem;
}
#LB250307candy .sec_6__img_2_wrap {
  grid-row: 1/2;
  grid-column: 3/3;
  width: 32.68rem;
}
#LB250307candy .sec_6__credits_ul {
  margin-top: 3rem;
  grid-column: 3/3;
  grid-row: 3/3;
  font-size: 1.27rem;
  letter-spacing: 0.01rem;
  line-height: 1.62rem;
  width: fit-content;
}
#LB250307candy .sec_6__credits_li {
  margin-top: 0.9rem;
}
#LB250307candy .sec_6__credits_li:first-child {
  margin-top: 0;
}
#LB250307candy .sec_7 {
  margin-top: 19.85rem;
  margin-left: 44.4rem;
}
#LB250307candy .sec_7__img_wrap {
  position: relative;
  width: 44.27rem;
  height: 57.5rem;
  background-color: white;
}
#LB250307candy .sec_7__img_wrap::before {
  content: "";
  position: absolute;
  top: -8.26rem;
  right: -8.26rem;
  background-image: url(../img/pc_bg_3.jpg);
  width: 30.8rem;
  height: 40rem;
  z-index: -2;
}
#LB250307candy .sec_7__img_wrap::after {
  content: "";
  position: absolute;
  top: -0.57rem;
  right: -0.57rem;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
}
#LB250307candy .sec_7__img {
  position: absolute;
}
#LB250307candy .sec_7__credits_ul {
  margin-top: 2.65rem;
  font-size: 1.25rem;
  letter-spacing: 0.022rem;
  width: 35rem;
}
#LB250307candy .sec_7__credits_li {
  margin-top: 0.5rem;
}
#LB250307candy .sec_7__credits_li:first-child {
  margin-top: 0;
}
#LB250307candy .sec_8 {
  margin-top: 11.24rem;
}
#LB250307candy .sec_8__inner {
  display: grid;
  grid-template-columns: 5.9rem 30.7rem 7.74rem 44.45rem;
  grid-template-rows: 8.65rem 31.35rem 26.1rem 11.9rem;
  width: 88.8rem;
  margin: 0 auto;
}
#LB250307candy .sec_8__img_1_wrap {
  position: relative;
  width: 30.75rem;
  grid-column: 2/2;
  grid-row: 1/2;
}
#LB250307candy .sec_8__img_1_wrap::before {
  position: absolute;
  content: "";
  background-image: url(../img/pc_bg_4.jpg);
  width: 30.8rem;
  height: 40rem;
  top: 5.75rem;
  left: -5.8rem;
  z-index: -1;
}
#LB250307candy .sec_8__img_1_text {
  position: absolute;
  font-size: 3.83rem;
  line-height: 2.8rem;
  letter-spacing: -0.04rem;
  top: 36.6rem;
  left: -3.5rem;
}
#LB250307candy .sec_8__img_2_wrap {
  width: 44.2rem;
  grid-column: 4/4;
  grid-row: 2/3;
}
#LB250307candy .sec_8__credits_ul {
  grid-column: 4/4;
  grid-row: 4/4;
  margin-top: 2.85rem;
  font-size: 1.25rem;
  letter-spacing: 0.022rem;
  line-height: 1.6rem;
  width: 35rem;
}
#LB250307candy .sec_8__credits_li {
  margin-top: 0.9rem;
}
#LB250307candy .sec_8__credits_li:first-child {
  margin-top: 0;
}
#LB250307candy .sec_9 {
  margin-top: 11.36rem;
}
#LB250307candy .sec_9__img_wrap {
  width: 25rem;
  margin-left: 54.05rem;
}
#LB250307candy .lineup {
  margin-top: 11.05rem;
  padding: 9.9rem 0 13.6rem;
  background-color: #FFF8F8;
  overflow: hidden;
}
#LB250307candy .lineup__title {
  text-align: center;
  font-size: 4.18rem;
  width: fit-content;
  margin-left: 54.5rem;
}
#LB250307candy .lineup__slider {
  border-bottom: solid 1px #E2E2E2;
  background-color: white;
}
#LB250307candy .lineup__fast_slider {
  margin-top: 2.7rem;
  border-top: solid 1px #E2E2E2;
}
#LB250307candy .lineup__image {
  padding: 1.3rem 1.47rem 0.9rem;
  border-left: solid 1px #E2E2E2;
  width: 14.2rem;
}
#LB250307candy .lineup__links {
  margin: 11.6rem auto 0;
  width: fit-content;
}
#LB250307candy .lineup__btn {
  width: 40.3rem;
}
#LB250307candy .lineup__btn:last-child {
  margin-top: 0.4rem;
}
#LB250307candy .contents__max {
  width: 100%;
}
#LB250307candy .swiper-wrapper {
  transition-timing-function: linear;
}/*# sourceMappingURL=style.css.map */