@charset "UTF-8";
#LB250307candy {
  /* Common */
  margin: 0 auto;
  margin-bottom: 15rem;
  padding: 0;
  font-family: "presti-display", serif;
  font-weight: 400;
  font-style: normal;
  color: #161616;
  /* fade */
  /* mv */
  /* slider */
}
@media screen and (max-width: 767px) {
  #LB250307candy {
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}
#LB250307candy .font_feature__palt {
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}
#LB250307candy picture {
  display: block;
  width: 100%;
}
#LB250307candy a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #161616;
}
#LB250307candy a:hover {
  opacity: 0.7;
}
#LB250307candy img {
  width: 100%;
}
#LB250307candy ul {
  margin: 0;
  padding: 0;
}
#LB250307candy li {
  list-style: none;
}
#LB250307candy .sec_2__credits_ul,
#LB250307candy .sec_3__credits_ul,
#LB250307candy .sec_4__credits_ul,
#LB250307candy .sec_5__credits_ul,
#LB250307candy .sec_6__credits_ul,
#LB250307candy .sec_7__credits_ul,
#LB250307candy .sec_8__credits_ul {
  font-size: 1.3rem;
  line-height: 1.3;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  #LB250307candy .sec_2__credits_ul,
  #LB250307candy .sec_3__credits_ul,
  #LB250307candy .sec_4__credits_ul,
  #LB250307candy .sec_5__credits_ul,
  #LB250307candy .sec_6__credits_ul,
  #LB250307candy .sec_7__credits_ul,
  #LB250307candy .sec_8__credits_ul {
    font-size: 3.1066666667vw;
    letter-spacing: 0.034em;
  }
}
#LB250307candy .js-fadeIn {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
}
#LB250307candy .js-fadeIn.visible {
  opacity: 1;
  visibility: visible;
}
#LB250307candy .js-fadeInLeft {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
  -webkit-transition: opacity 1s, visibility 1s, -webkit-transform 1s;
  transition: opacity 1s, visibility 1s, -webkit-transform 1s;
  transition: opacity 1s, visibility 1s, transform 1s;
  transition: opacity 1s, visibility 1s, transform 1s, -webkit-transform 1s;
}
#LB250307candy .js-fadeInRight {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-80px);
          transform: translateX(-80px);
  -webkit-transition: opacity 1s, visibility 1s, -webkit-transform 1s;
  transition: opacity 1s, visibility 1s, -webkit-transform 1s;
  transition: opacity 1s, visibility 1s, transform 1s;
  transition: opacity 1s, visibility 1s, transform 1s, -webkit-transform 1s;
}
#LB250307candy .js-fadeInLeft.visible,
#LB250307candy .js-fadeInRight.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
#LB250307candy .js-fadeInMv {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}
#LB250307candy .js-fadeInMv.visible {
  visibility: visible;
  opacity: 1;
}
#LB250307candy .replace__img {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 2s, visibility 2s;
  transition: opacity 2s, visibility 2s;
}
#LB250307candy .replace__img.visible {
  opacity: 1;
  visibility: visible;
}
#LB250307candy .pc-only {
  display: block;
}
#LB250307candy .sp-only {
  display: none;
}
@media screen and (max-width: 767px) {
  #LB250307candy .pc-only {
    display: none;
  }
  #LB250307candy .sp-only {
    display: block;
  }
}
#LB250307candy .mv {
  width: 100%;
}
#LB250307candy .mv__inner {
  margin-right: auto;
  margin-left: auto;
  width: 96rem;
}
#LB250307candy .mv__img {
  width: 100%;
}
#LB250307candy .mv__text_wrap {
  margin-top: 5rem;
}
#LB250307candy .mv__text {
  text-align: center;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 1.5rem;
}
#LB250307candy .mv__text--1 {
  letter-spacing: 0.08em;
}
#LB250307candy .mv__text--2 {
  margin-top: 1.5rem;
  letter-spacing: 0.09em;
  font-size: 1.5rem;
}
@media screen and (max-width: 767px) {
  #LB250307candy .mv {
    margin-left: 0;
  }
  #LB250307candy .mv__inner {
    width: calc(750 * 0.1333333333vw);
  }
  #LB250307candy .mv__text_wrap {
    margin-top: calc(73 * 0.1333333333vw);
  }
  #LB250307candy .mv__text {
    font-size: calc(26 * 0.1333333333vw);
  }
  #LB250307candy .mv__text--2 {
    margin-top: calc(13 * 0.1333333333vw);
    letter-spacing: 0.07em;
  }
  #LB250307candy .mv__text--3 {
    margin-top: calc(13 * 0.1333333333vw);
    letter-spacing: 0.08em;
  }
}
#LB250307candy .sec_1 {
  margin-top: 11.9rem;
  width: 100%;
}
#LB250307candy .sec_1__wrap {
  margin-right: auto;
  padding-left: 33.6%;
  width: 79rem;
  max-width: 100%;
}
#LB250307candy .sec_1__inner {
  display: grid;
  grid-template-columns: 43.1rem 36rem;
  grid-template-rows: 35.6rem 24.8rem auto;
}
#LB250307candy .sec_1__img_1_wrap {
  grid-column: 1;
  grid-row: 1/2;
  position: relative;
  width: calc(100% + 2.9rem);
}
#LB250307candy .sec_1__img_1_wrap::before {
  position: absolute;
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/pc_bg_1.jpg");
  width: 71.8rem;
  padding-top: 104%;
  left: -46.8rem;
  bottom: -37.2rem;
  z-index: -1;
  pointer-events: none;
}
#LB250307candy .sec_1__credits_ul {
  grid-column: 1;
  grid-row: 3/3;
  margin-top: 2.3rem;
  font-size: 1.27rem;
  letter-spacing: 0.02rem;
  line-height: 1.65rem;
}
#LB250307candy .sec_1__credits_li {
  margin-top: 0.82rem;
}
#LB250307candy .sec_1__credits_li:first-child {
  margin-top: 0;
}
#LB250307candy .sec_1__img_2_warp {
  position: relative;
  grid-column: 2;
  grid-row: 2/2;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 100;
}
#LB250307candy .sec_1__img_2_warp::before {
  position: absolute;
  top: -6px;
  left: -6px;
  content: "";
  width: 34.6rem;
  height: 30rem;
  background-color: #FFFFFF;
}
#LB250307candy .sec_1__img_2 {
  position: absolute;
}
@media screen and (max-width: 767px) {
  #LB250307candy .sec_1 {
    margin-top: calc(152 * 0.1333333333vw);
    padding-left: 0;
  }
  #LB250307candy .sec_1__wrap {
    padding-left: 0;
  }
  #LB250307candy .sec_1__inner {
    grid-template-columns: calc(40 * 0.1333333333vw) calc(249 * 0.1333333333vw) calc(349 * 0.1333333333vw) calc(118 * 0.1333333333vw);
    grid-template-rows: calc(778 * 0.1333333333vw) calc(93 * 0.1333333333vw) calc(118 * 0.1333333333vw) calc(390 * 0.1333333333vw);
    width: calc(750 * 0.1333333333vw);
  }
  #LB250307candy .sec_1__img_1_wrap {
    grid-column: 1/3;
    width: calc(630 * 0.1333333333vw);
  }
  #LB250307candy .sec_1__img_1_wrap::before {
    content: "";
    background-image: url("../img/sp_bg_1.jpg");
    width: calc(750 * 0.1333333333vw);
    height: calc(750 * 0.1333333333vw);
    top: calc(314 * 0.1333333333vw);
    left: 0;
  }
  #LB250307candy .sec_1__img_2_warp {
    grid-column: 3/4;
    width: calc(460 * 0.1333333333vw);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #LB250307candy .sec_1__img_2_warp::before {
    width: calc(460 * 0.1333333333vw);
  }
  #LB250307candy .sec_1__credits_ul {
    grid-column: 2/2;
    grid-row: 3/3;
    margin-top: 1.7%;
  }
  #LB250307candy .sec_1__credits_li {
    margin-top: 12.6%;
  }
}
#LB250307candy .sec_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#LB250307candy .sec_2__img_wrap {
  position: relative;
  width: 56rem;
}
#LB250307candy .sec_2__img_text {
  position: absolute;
  text-align: center;
  font-size: 3.8rem;
  color: #FFFFFF;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#LB250307candy .sec_2__img_text--1 {
  top: 3.7rem;
  letter-spacing: 0.02rem;
}
#LB250307candy .sec_2__img_text--2 {
  top: 6.7rem;
}
#LB250307candy .sec_2__img_text--3 {
  top: 9.5rem;
}
#LB250307candy .sec_2__credits_ul {
  margin-top: 2.9rem;
  font-size: 1.3rem;
  letter-spacing: 0.02em;
  line-height: 1.4;
  max-width: 56.1rem;
  width: 100%;
}
#LB250307candy .sec_2__credits_li {
  margin-top: 0.9rem;
}
#LB250307candy .sec_2__credits_li:first-child {
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  #LB250307candy .sec_2 {
    margin-top: calc(157 * 0.1333333333vw);
  }
  #LB250307candy .sec_2__img_wrap {
    width: calc(750 * 0.1333333333vw);
  }
  #LB250307candy .sec_2__img_text {
    font-size: calc(50 * 0.1333333333vw);
  }
  #LB250307candy .sec_2__img_text--1 {
    top: calc(30 * 0.1333333333vw);
  }
  #LB250307candy .sec_2__img_text--2 {
    top: calc(67.8 * 0.1333333333vw);
  }
  #LB250307candy .sec_2__img_text--3 {
    top: calc(106 * 0.1333333333vw);
  }
  #LB250307candy .sec_2__credits_ul {
    margin-top: calc(48 * 0.1333333333vw);
    max-width: 100%;
  }
  #LB250307candy .sec_2__credits_li {
    margin-top: calc(15 * 0.1333333333vw);
    padding-left: calc(40 * 0.1333333333vw);
  }
}
#LB250307candy .sec_3 {
  margin-top: 11.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#LB250307candy .sec_3__img_wrap {
  margin: 0 auto;
  width: 32rem;
}
@media screen and (max-width: 767px) {
  #LB250307candy .sec_3 {
    margin-top: calc(155 * 0.1333333333vw);
  }
  #LB250307candy .sec_3__img_wrap {
    width: calc(460 * 0.1333333333vw);
  }
}
#LB250307candy .sec_4 {
  margin-top: 12rem;
}
#LB250307candy .sec_4__inner {
  position: relative;
  display: grid;
  grid-template-rows: 10.4rem 57.6rem;
  grid-template-columns: 14rem 34rem 12rem 50rem;
  margin: 0 auto;
  width: 110.3rem;
}
#LB250307candy .sec_4__img_1_wrap {
  position: relative;
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
}
#LB250307candy .sec_4__img_1_wrap::before {
  position: absolute;
  content: "";
  background-image: url(../img/pc_bg_2.jpg);
  top: -10.4rem;
  left: -14rem;
  width: 34rem;
  padding-top: 130.5%;
  z-index: -1;
}
#LB250307candy .sec_4__img_2_wrap {
  grid-column: 4/4;
  grid-row: 1/2;
  width: 100%;
}
#LB250307candy .sec_4__credits_ul {
  grid-column: 4/4;
  grid-row: 4/4;
  width: 35rem;
}
#LB250307candy .sec_4__credits_li {
  margin-top: 0.9rem;
}
#LB250307candy .sec_4__credits_li:first-child {
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  #LB250307candy .sec_4 {
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  #LB250307candy .sec_4 {
    margin-top: calc(161 * 0.1333333333vw);
  }
  #LB250307candy .sec_4__inner {
    grid-template-rows: calc(870 * 0.1333333333vw) calc(44 * 0.1333333333vw) calc(248 * 0.1333333333vw) calc(598 * 0.1333333333vw);
    grid-template-columns: calc(40 * 0.1333333333vw) calc(105 * 0.1333333333vw) calc(460 * 0.1333333333vw) calc(65 * 0.1333333333vw);
    width: calc(751 * 0.1333333333vw);
  }
  #LB250307candy .sec_4__img_1_wrap {
    grid-column: 3/3;
    grid-row: 4/4;
    width: calc(460 * 0.1333333333vw);
  }
  #LB250307candy .sec_4__img_1_wrap::before {
    background-image: url(../img/sp_bg_2.jpg);
    left: calc(176 * 0.1333333333vw);
    top: calc(-411 * 0.1333333333vw);
    width: calc(430 * 0.1333333333vw);
    padding-top: 121.4%;
  }
  #LB250307candy .sec_4__img_2_wrap {
    grid-column: 1/5;
    width: calc(671.6 * 0.1333333333vw);
  }
  #LB250307candy .sec_4__credits_ul {
    grid-column: 2/4;
    grid-row: 3/3;
    margin-top: calc(5 * 0.1333333333vw);
    width: 100%;
  }
  #LB250307candy .sec_4__credits_li {
    margin-top: calc(17 * 0.1333333333vw);
  }
}
#LB250307candy .sec_5 {
  margin-top: 11.6rem;
  padding-right: 2.6rem;
}
#LB250307candy .sec_5__inner {
  margin-right: auto;
  margin-left: auto;
  max-width: 46rem;
}
#LB250307candy .sec_5__credits_ul {
  margin-top: 2.8rem;
  font-size: 1.3rem;
  letter-spacing: 0.02em;
  line-height: 1.3;
  width: 35rem;
}
#LB250307candy .sec_5__credits_li {
  margin-top: 0.9rem;
}
#LB250307candy .sec_5__credits_li:first-child {
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  #LB250307candy .sec_5 {
    margin-top: calc(161 * 0.1333333333vw);
    padding-right: calc(3 * 0.1333333333vw);
  }
  #LB250307candy .sec_5__inner {
    max-width: calc(627 * 0.1333333333vw);
  }
  #LB250307candy .sec_5__img_wrap {
    width: calc(630 * 0.1333333333vw);
  }
  #LB250307candy .sec_5__credits_ul {
    margin-top: calc(48 * 0.1333333333vw);
    width: 100%;
    font-size: calc(24 * 0.1333333333vw);
    letter-spacing: calc(0.5 * 0.1333333333vw);
  }
  #LB250307candy .sec_5__credits_li {
    margin-top: calc(17 * 0.1333333333vw);
  }
}
#LB250307candy .sec_6 {
  margin-top: 12rem;
  margin-right: auto;
  margin-left: auto;
}
#LB250307candy .sec_6__inner {
  display: grid;
  grid-template-rows: 20rem 27.1rem 32.8rem;
  grid-template-columns: 46rem 31.9rem 34rem;
  margin: 0 auto;
  width: 100%;
  max-width: 112rem;
}
#LB250307candy .sec_6__img_1_wrap {
  grid-row: 2/2;
  grid-column: 1/1;
  width: 100%;
}
#LB250307candy .sec_6__img_2_wrap {
  grid-row: 1/2;
  grid-column: 3/3;
  width: 100%;
}
#LB250307candy .sec_6__credits_ul {
  margin-top: -0.2rem;
  grid-column: 3/3;
  grid-row: 3/3;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#LB250307candy .sec_6__credits_li {
  margin-top: 0.9rem;
}
#LB250307candy .sec_6__credits_li:first-child {
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  #LB250307candy .sec_6 {
    margin-top: calc(156 * 0.1333333333vw);
  }
  #LB250307candy .sec_6__inner {
    grid-template-rows: calc(470 * 0.1333333333vw) calc(127 * 0.1333333333vw) calc(121 * 0.1333333333vw) calc(871 * 0.1333333333vw);
    grid-template-columns: calc(40 * 0.1333333333vw) calc(250 * 0.1333333333vw) calc(420 * 0.1333333333vw) calc(40 * 0.1333333333vw);
    width: calc(750 * 0.1333333333vw);
  }
  #LB250307candy .sec_6__img_1_wrap {
    grid-row: 4/4;
    grid-column: 2/4;
  }
  #LB250307candy .sec_6__img_2_wrap {
    grid-row: 1/2;
    grid-column: 3/4;
    width: calc(460 * 0.1333333333vw);
  }
  #LB250307candy .sec_6__credits_ul {
    grid-column: 2/2;
    grid-row: 2/2;
    margin-top: calc(5 * 0.1333333333vw);
    font-size: calc(24 * 0.1333333333vw);
    letter-spacing: calc(0.5 * 0.1333333333vw);
    width: 100%;
  }
  #LB250307candy .sec_6__credits_li {
    margin-top: calc(30.7 * 0.1333333333vw);
  }
}
#LB250307candy .sec_7 {
  margin-top: 19.9rem;
  width: 100%;
  max-width: 46rem;
  margin-right: auto;
  margin-left: auto;
}
#LB250307candy .sec_7__img_wrap {
  position: relative;
  width: 100%;
  background-color: #FFFFFF;
  border-right: 0.6rem solid #fff;
  border-bottom: 0.6rem solid #fff;
}
#LB250307candy .sec_7__img_wrap::before {
  content: "";
  position: absolute;
  top: -8.6rem;
  right: -8.6rem;
  background-image: url(../img/pc_bg_3.jpg);
  width: 32rem;
  padding-top: 90.4%;
  z-index: -2;
}
#LB250307candy .sec_7__img_wrap::after {
  content: "";
  width: 100%;
  display: block;
  padding-top: 130%;
  z-index: -1;
}
#LB250307candy .sec_7__img {
  position: absolute;
}
#LB250307candy .sec_7__credits_ul {
  margin-top: 2.8rem;
  line-height: 1.58;
  width: 35rem;
}
#LB250307candy .sec_7__credits_li {
  margin-top: 0.5rem;
}
#LB250307candy .sec_7__credits_li:first-child {
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  #LB250307candy .sec_7 {
    margin: calc(272 * 0.1333333333vw) 0 0;
    -webkit-transform: initial;
            transform: initial;
  }
  #LB250307candy .sec_7__img_wrap {
    width: calc(638 * 0.1333333333vw);
    border-top: calc(8 * 0.1333333333vw) solid #fff;
    border-right: calc(8 * 0.1333333333vw) solid #fff;
    border-bottom: none;
  }
  #LB250307candy .sec_7__img_wrap::before {
    top: calc(-120 * 0.1333333333vw);
    right: calc(-120 * 0.1333333333vw);
    background-image: url(../img/sp_bg_3.jpg);
    width: calc(460 * 0.1333333333vw);
    padding-top: 95%;
  }
  #LB250307candy .sec_7__img_wrap::after {
    top: calc(-6 * 0.1333333333vw);
    right: calc(-9 * 0.1333333333vw);
  }
  #LB250307candy .sec_7__credits_ul {
    margin-top: calc(46 * 0.1333333333vw);
    padding-left: calc(40 * 0.1333333333vw);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
  }
  #LB250307candy .sec_7__credits_li {
    margin-top: calc(10 * 0.1333333333vw);
  }
}
#LB250307candy .sec_8 {
  margin-top: 11.7rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 6.2rem;
}
#LB250307candy .sec_8__inner {
  display: grid;
  grid-template-columns: 32rem 8rem 46rem;
  grid-template-rows: 9rem 59.8rem auto;
  max-width: 86.2rem;
  margin: 0 auto;
}
#LB250307candy .sec_8__img_1_wrap {
  position: relative;
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}
#LB250307candy .sec_8__img_1_wrap::before {
  position: absolute;
  content: "";
  background-image: url(../img/pc_bg_4.jpg);
  width: 32rem;
  padding-top: 130%;
  top: 66%;
  left: -6rem;
  z-index: -1;
}
#LB250307candy .sec_8__img_1_text {
  position: absolute;
  font-size: 3.83rem;
  color: #FFFFFF;
  line-height: 2.8rem;
  top: 422%;
  left: -3.6rem;
}
#LB250307candy .sec_8__img_2_wrap {
  width: 100%;
  grid-column: 3/3;
  grid-row: 2/3;
}
#LB250307candy .sec_8__credits_ul {
  grid-column: 3/3;
  grid-row: 3/3;
  margin-top: 2.85rem;
  width: 35rem;
}
#LB250307candy .sec_8__credits_li {
  margin-top: 0.9rem;
}
#LB250307candy .sec_8__credits_li:first-child {
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  #LB250307candy .sec_8 {
    margin-top: calc(152 * 0.1333333333vw);
    padding-left: calc(60 * 0.1333333333vw);
  }
  #LB250307candy .sec_8__inner {
    grid-template-columns: calc(230 * 0.1333333333vw) calc(400 * 0.1333333333vw) calc(60 * 0.1333333333vw);
    grid-template-rows: calc(598 * 0.1333333333vw) calc(60 * 0.1333333333vw) calc(868 * 0.1333333333vw) auto;
    width: 100%;
  }
  #LB250307candy .sec_8__img_1_text {
    text-align: right;
    font-size: calc(50 * 0.1333333333vw);
    line-height: calc(38 * 0.1333333333vw);
    letter-spacing: calc(0.9 * 0.1333333333vw);
    top: calc(513 * 0.1333333333vw);
    right: calc(14 * 0.1333333333vw);
  }
  #LB250307candy .sec_8__img_1_wrap {
    grid-column: 2/3;
    grid-row: 1;
    width: calc(460 * 0.1333333333vw);
  }
  #LB250307candy .sec_8__img_1_wrap::before {
    background-image: url(../img/sp_bg_4.jpg);
    width: calc(460 * 0.1333333333vw);
    height: calc(598 * 0.1333333333vw);
    top: calc(201 * 0.1333333333vw);
    left: calc(-288 * 0.1333333333vw);
  }
  #LB250307candy .sec_8__img_2_wrap {
    grid-column: 1/2;
    grid-row: 3;
    width: calc(630 * 0.1333333333vw);
  }
  #LB250307candy .sec_8__credits_ul {
    grid-column: 4/4;
    margin-top: 0;
    line-height: calc(29 * 0.1333333333vw);
    width: 100%;
  }
  #LB250307candy .sec_8__credits_li {
    margin-top: calc(19 * 0.1333333333vw);
  }
}
#LB250307candy .sec_9 {
  margin-top: 11.8rem;
}
#LB250307candy .sec_9__img_wrap {
  width: 26rem;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  #LB250307candy .sec_9 {
    margin-top: calc(158 * 0.1333333333vw);
  }
  #LB250307candy .sec_9__img_wrap {
    width: calc(420 * 0.1333333333vw);
  }
}
#LB250307candy .lineup {
  margin-top: 12rem;
  padding: 11.6rem 0 15rem;
  background-color: #FFF8F8;
  overflow: hidden;
}
#LB250307candy .lineup__title {
  margin-right: auto;
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  font-size: 4.3rem;
  letter-spacing: 0.05rem;
}
#LB250307candy .lineup__slider {
  border-bottom: solid 1px #E2E2E2;
  background-color: #FFFFFF;
}
#LB250307candy .lineup__fast_slider {
  margin-top: 4rem;
  border-top: solid 1px #E2E2E2;
}
#LB250307candy .lineup__image {
  padding: 1.3rem 1.47rem 0.9rem;
  border-left: solid 1px #E2E2E2;
  width: 15.3rem;
}
#LB250307candy .lineup__links {
  margin: 12rem auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#LB250307candy .lineup__btn {
  width: 42rem;
}
#LB250307candy .lineup__btn:last-child {
  margin-top: 1rem;
}
@media screen and (max-width: 767px) {
  #LB250307candy .lineup {
    margin-top: calc(160 * 0.1333333333vw);
    padding-top: calc(136 * 0.1333333333vw);
  }
  #LB250307candy .lineup__title {
    font-size: calc(63.5 * 0.1333333333vw);
  }
  #LB250307candy .lineup__fast_slider {
    margin-top: calc(46 * 0.1333333333vw);
  }
  #LB250307candy .lineup__image {
    width: calc(217 * 0.1333333333vw);
    padding: calc(27 * 0.1333333333vw) calc(20 * 0.1333333333vw) calc(25 * 0.1333333333vw);
  }
  #LB250307candy .lineup__links {
    margin-top: calc(160 * 0.1333333333vw);
  }
  #LB250307candy .lineup__btn {
    width: calc(660 * 0.1333333333vw);
  }
  #LB250307candy .lineup__btn:last-child {
    margin-top: calc(20 * 0.1333333333vw);
  }
}
#LB250307candy .contents__max {
  width: 100%;
}
#LB250307candy .swiper-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}