@function spSize($size) {
  @return calc(#{$size} * (100vw / 750));
}

$color-white: #FFFFFF;
$color-black: #161616;

$second-font-family: "游ゴシック体",YuGothic,"游ゴシック Medium","Yu Gothic Medium","游ゴシック","Yu Gothic",sans-serif;;

#LB250307candy {
  /* Common */
  margin: 0 auto;
  padding: 0;
  font-family: "presti-display", serif;
  font-weight: 400;
  font-style: normal;
  color: $color-black;

  .font_feature__palt {
    font-feature-settings: "palt";
  }

  picture {
    display: block;
    width: 100%;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: $color-black;
    &:hover {
      opacity: .7;
    }
  }

  img {
    width: 100%;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  .sec_2 ,
  .sec_3 ,
  .sec_4 ,
  .sec_5 ,
  .sec_6 ,
  .sec_7 ,
  .sec_8 {
    &__credits_ul {
      font-size: 1.3rem;
      line-height: 1.3;
      letter-spacing: 0.02em;
    }
  }

  /* fade */
  .js-fadeIn {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s;

    &.visible {
    opacity: 1;
    visibility: visible;
    }
  }

  .js-fadeInLeft {
    opacity: 0;
    visibility: hidden;
    transform: translateX(80px);
    transition: opacity 1s, visibility 1s, transform 1s;
  }

  .js-fadeInRight {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-80px);
    transition: opacity 1s, visibility 1s, transform 1s;
  }

  .js-fadeInLeft.visible,
  .js-fadeInRight.visible {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  .js-fadeInMv {
    opacity: 0;
    visibility: hidden;
    transition: all ease 1s;

    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }

  .replace {
    &__img {
      opacity: 0;
      visibility: hidden;
      transition: opacity 2s, visibility 2s;

      &.visible {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .pc-only {
    display: block;
  }

  .sp-only {
    display: none;
  }

  @media screen and (max-width: 767px) {
    .pc-only {
      display: none;
    }

    .sp-only {
      display: block;
    }
  }

  /* mv */
  .mv {
    width: 100%;

    &__inner {
      margin-right:auto;
      margin-left:auto;
      width: 96rem;

    }

    &__img {
      width: 100%;
    }

    &__text_wrap {
      margin-top: 5rem;
    }

    &__text {
      text-align: center;
      font-family: $second-font-family;
      font-size: 1.5rem;

      &--1 {
        letter-spacing: 0.08em;
      }

      &--2 {
        margin-top: 1.5rem;
        letter-spacing: 0.9em;
        font-size: 1.5rem;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .mv {
      margin-left: 0;

      &__inner {
        width: spSize(750);
      }

      &__text_wrap {
        margin-top: 6.7rem;
      }

      &__text {
        font-size: spSize(26.44);

        &--2 {
          margin-top: 1.02rem;
        }

        &--3 {
          margin-top: 1.22rem;
        }
      }
    }
  }

  .sec_1 {
    margin-top: 11.9rem;
    width: 100%;

    &__wrap {
      margin-right: auto;
      padding-left: 33.6%;
      width: 79rem;
      max-width: 100%;
    }

    &__inner {
      display: grid;
      grid-template-columns: 43.1rem 36rem ;
      grid-template-rows: 35.6rem 24.8rem auto ;
    }

    &__img_1_wrap {
      grid-column: 1;
      grid-row: 1 / 2;
      position: relative;
      width: calc(100% + 2.9rem);

      &::before {
        position: absolute;
        content: "";
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../img/pc_bg_1.jpg');
        width: 71.8rem;
        padding-top: 104%;
        left: -46.8rem;
        bottom: -37.2rem;
        z-index: -1;
        pointer-events: none;
      }
    }

    &__credits_ul {
      grid-column: 1;
      grid-row: 3/3;
      margin-top: 2.3rem;
      font-size: 1.27rem;
      letter-spacing: 0.02rem;
      line-height: 1.65rem;
    }

    &__credits_li {
      margin-top: 0.82rem;
    }

    &__credits_li:first-child {
      margin-top: 0;
    }

    &__img_2_warp {
      position: relative;
      grid-column: 2;
      grid-row: 2 / 2;
      width: 34.6rem;
      height: 30rem;
      background-color: $color-white;
      z-index: 100;

      &::before {
        position: absolute;
        top: -6px;
        left: -6px;
        content: "";
        width: 34.6rem;
        height: 30rem;
        background-color: $color-white;

      }
    }

    &__img_2 {
      position: absolute;
    }
  }

  @media screen and (max-width: 767px) {
    .sec_1 {
      margin-top: 14.51rem;
      padding-left: 0;

      &__wrap {
        padding-left: 0;
      }

      &__inner {
        grid-template-columns: spSize(40) spSize(249) spSize(349) spSize(118);
        grid-template-rows: spSize(778) spSize(93) spSize(118) spSize(390);
        width: spSize(750);
      }

      &__img_1_wrap {
        grid-column: 1 / 3;
        width: spSize(630);

        &::before {
          content: '';
          background-image: url('../img/sp_bg_1.jpg');
          width: spSize(750);
          height: spSize(750);
          top: spSize(314);
          left: 0;
        }
      }

      &__img_2_warp {
        grid-column: 3 / 4;
        width: spSize(460);
        height: fit-content;

        &::before {
          width: spSize(460);
        }
      }

      &__credits_ul {
        grid-column: 2 / 2;
        grid-row: 3 / 3;
        margin-top: 1.7%;
        font-size: calc(23.3 * (100vw / 750));
        letter-spacing: 0.8px;
      }

      &__credits_li {
        margin-top: 12.6%;
      }
    }
  }

  .sec_2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25.1rem;
    box-sizing: border-box;
    padding-left: 6.5rem;
    &__img_wrap {
      position: relative;
      width: 56rem;
    }

    &__img_text {
      position: absolute;
      text-align: center;
      font-size: 3.8rem;
      color: $color-white;
      left: 50%;
      transform: translateX(-50%);

      &--1 {
        top: 3.7rem;
        letter-spacing: 0.02rem;
      }

      &--2 {
        top: 6.7rem;
      }

      &--3 {
        top: 9.5rem;
      }
    }

    &__credits_ul {
      margin-top: 2.9rem;
      font-size: 1.3rem;
      letter-spacing: 0.02em;
      line-height: 1.4;
      max-width: 56.1rem;
      width: 100%;
    }

    &__credits_li {
      margin-top: 0.9rem;
    }

    &__credits_li:first-child {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 767px) {
    .sec_2 {
      margin-top: spSize(160);

      &__img_wrap {
        width: spSize(750);
      }

      &__img_text {
        font-size: spSize(50);

        &--1 {
          top: spSize(30);
          left: spSize(271);
        }

        &--2 {
          top: spSize(67.8);
          left: spSize(308.7);
        }

        &--3 {
          top: spSize(106);
          left: spSize(287.7);
        }
      }

      &__credits_ul {
        margin-top: spSize(49);
        width: 100%;
        font-size: spSize(23.6);
        letter-spacing: spSize(0.7);
      }

      &__credits_li {
        margin-top: spSize(31);
        padding-left: spSize(41);
      }
    }
  }

  .sec_3 {
    margin-top: 11.8rem;
    box-sizing: border-box;
    padding-left: 6.5rem;
    &__img_wrap {
      margin: 0 auto;
      width: 32rem;
    }
  }

  @media screen and (max-width: 767px) {
    .sec_3 {
      margin-top: spSize(163);

      &__img_wrap {
        width: spSize(460);
      }
    }
  }
  
  .sec_4 {
    margin-top: 12rem;
    padding-left:7rem;
    &__inner {
      position: relative;
      display: grid;
      grid-template-rows: 10.4rem 57.6rem;
      grid-template-columns: 14rem 33.9rem 12rem 50rem;
      margin: 0 auto;
      width: 110.3rem;
    }

    &__img_1_wrap {
      position: relative;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      width: 100%;

      &::before {
        position: absolute;
        content: "";
        background-image: url(../img/pc_bg_2.jpg);
        top: -10.4rem;
        left: -14rem;
        width: 34rem;
        padding-top: 130.5%;
        z-index: -1;
      }
    }

    &__img_2_wrap {
      grid-column: 4 / 4;
      grid-row: 1 / 2;
      width: 48.1rem;
    }

    &__credits_ul {
      grid-column: 4 / 4;
      grid-row: 4 / 4;
      width: 35rem;
    }

    &__credits_li {
      margin-top: 0.9rem;
    }

    &__credits_li:first-child {
      margin-top: 0;
    }
    @media screen and (max-width:767px) {
      padding-right: 0;
    }
  }

  @media screen and (max-width: 767px) {
    .sec_4 {
      margin-top: spSize(154);

      &__inner {
        grid-template-rows: spSize(870) spSize(53) spSize(239) spSize(598);
        grid-template-columns: spSize(40) spSize(105) spSize(460) spSize(65);
        width: spSize(751);
      }

      &__img_1_wrap {
        grid-column: 3 / 3;
        grid-row: 4 / 4;
        width: spSize(460);

        &::before {
          background-image: url(../img/sp_bg_2.jpg);
          left: spSize(176);
          top: spSize(-410);
          width: spSize(430);
          height: spSize(558);
        }
      }

      &__img_2_wrap {
        grid-column: 1 / 2;
        width: spSize(671.6);
      }

      &__credits_ul {
        grid-column: 2 / 4;
        grid-row: 3 / 3;
        margin-top: spSize(5);
        width: 100%;
        font-size: spSize(24);
        letter-spacing: spSize(.6);
      }

      &__credits_li {
        margin-top: spSize(31);
      }
    }
  }

  .sec_5 {
    margin-top: 12rem;
    padding-left: 4rem;

    &__inner {
      margin-right:auto;
      margin-left:auto;
      max-width: 46rem;
    }

    &__img_wrap {
      // width: 44.24rem;
    }

    &__credits_ul {
      margin-top: 2.8rem;
      font-size: 1.3rem;
      letter-spacing: 0.02em;
      line-height: 1.3;
      width: 35rem;
    }

    &__credits_li {
      margin-top: 0.9rem;
    }

    &__credits_li:first-child {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 767px) {
    .sec_5 {
      margin-top: spSize(162);
      padding: 0;

      &__inner {
        max-width: spSize(627);
      }

      &__img_wrap {
        width: spSize(630);
      }

      &__credits_ul {
        margin-top: spSize(50);
        width: 100%;
        font-size: spSize(24);
        letter-spacing: spSize(.5);
      }

      &__credits_li {
        margin-top: spSize(32);
      }
    }
  }

  .sec_6 {
    margin-top: 11.8rem;
    margin-right:auto;
    margin-left:auto;
    padding-left: 6.6rem;

    &__inner {
      display: grid;
      grid-template-rows: 20rem 27.1rem 32.8rem;
      grid-template-columns: 46rem 31.9rem 34rem;
      margin: 0 auto;
      width: 100%;
      max-width: 112rem;
    }

    &__img_1_wrap {
      grid-row: 2 / 2;
      grid-column: 1 / 1;
      width: 100%;
    }

    &__img_2_wrap {
      grid-row: 1 / 2;
      grid-column: 3 / 3;
      width: 100%;
    }

    &__credits_ul {
      margin-top: -0.2rem;
      grid-column: 3 / 3;
      grid-row: 3 / 3;
      width: fit-content;
    }

    &__credits_li {
      margin-top: 0.9rem;
    }

    &__credits_li:first-child {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 767px) {
    .sec_6 {
      margin-top: spSize(162);

      &__inner {
        grid-template-rows: spSize(470) spSize(127) spSize(120) spSize(871);
        grid-template-columns: spSize(41) spSize(250) spSize(420) spSize(41);
        width: spSize(750);
      }

      &__img_1_wrap {
        grid-row: 4 / 4;
        grid-column: 2 / 3;
        width: spSize(670);
      }

      &__img_2_wrap {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        width: spSize(460);
      }

      &__credits_ul {
        grid-column: 2 / 2;
        grid-row: 2 / 2;
        margin-top: spSize(5);
        font-size: spSize(24);
        letter-spacing: spSize(.5);
        width: 100%;
      }

      &__credits_li {
        margin-top: spSize(30.7);
      }
    }
  }

  .sec_7 {
    margin-top: 20.4rem;
    width:100%;
    max-width:46.3rem;
    margin-right:auto;
    margin-left:auto;
    transform: translateX(10px);
    &__img_wrap {
      position: relative;
      width: 44.27rem;
      height: 57.5rem;
      background-color: $color-white;

      &::before {
        content: "";
        position: absolute;
        top: -8.26rem;
        right: -8.26rem;
        background-image: url(../img/pc_bg_3.jpg);
        width: 30.8rem;
        height: 40rem;
        z-index: -2;
      }

      &::after {
        content: "";
        position: absolute;
        top: -0.57rem;
        right: -0.57rem;
        width: 100%;
        height: 100%;
        background-color: $color-white;
        z-index: -1;
      }
    }

    &__img {
      position: absolute;
    }

    &__credits_ul {
      margin-top: 2.65rem;
      font-size: 1.25rem;
      letter-spacing: 0.022rem;
      width: 35rem;
    }
    
    &__credits_li {
      margin-top: 0.5rem;
    }
    
    &__credits_li:first-child {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 767px) {
    .sec_7 {
      margin: spSize(279) 0 0;
      transform: initial;

      &__img_wrap {
        width: spSize(630);
        height: spSize(819);

        &::before {
          top: spSize(-117);
          right: spSize(-120);
          background-image: url(../img/sp_bg_3.jpg);
          width: spSize(460);
          height: spSize(598);
        }

        &::after {
          top: spSize(-6);
          right: spSize(-9);
        }
      }

      &__credits_ul {
        margin-top: spSize(46);
        padding-left: spSize(41);
        font-size: spSize(24);
        letter-spacing: spSize(.5);
        box-sizing: border-box;
        width: 100%;
      }

      &__credits_li {
        margin-top: spSize(10);
      }
    }
  }

  .sec_8 {
    margin-top: 11.24rem;
    margin-right:auto;
    margin-left:auto;
    padding-left: 5.8rem;
    max-width: 86rem;

    &__inner {
      display: grid;
      grid-template-columns: 1.5rem 30.7rem 7.84rem 44.45rem;
      grid-template-rows: 8.65rem 31.35rem 26.1rem 11.9rem;
      width: 88.8rem;
      margin: 0 auto;
    }

    &__img_1_wrap {
      position: relative;
      width: 30.75rem;
      grid-column: 2 / 2;
      grid-row: 1 / 2;

      &::before {
        position: absolute;
        content: "";
        background-image: url(../img/pc_bg_4.jpg);
        width: 30.8rem;
        height: 40rem;
        top: 5.75rem;
        left: -5.8rem;
        z-index: -1;
      }
    }

    &__img_1_text {
      position: absolute;
      font-size: 3.83rem;
      color: $color-white;
      line-height: 2.8rem;
      letter-spacing: -0.04rem;
      top: 36.4rem;
      left: -3.4rem;
    }

    &__img_2_wrap {
      width: 44.2rem;
      grid-column: 4 / 4;
      grid-row: 2 / 3;
    }

    &__credits_ul {
      grid-column: 4 / 4;
      grid-row: 4 / 4;
      margin-top: 2.85rem;
      font-size: 1.25rem;
      letter-spacing: 0.022rem;
      line-height: 1.6rem;
      width: 35rem;
    }
    
    &__credits_li {
      margin-top: 0.9rem;
    }
    
    &__credits_li:first-child {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 767px) {
    .sec_8 {
      margin-top: spSize(153);
      padding-left: spSize(61);

      &__inner {
        grid-template-columns: spSize(230) spSize(400) spSize(60);
        grid-template-rows: spSize(598) spSize(59) spSize(870) spSize(172);
        width: spSize(690);
      }

      &__img_1_text{
        text-align: right;
        font-size: spSize(50);
        line-height: spSize(38);
        letter-spacing: spSize(.9);
        top: spSize(513);
        right: spSize(14);
      }

      &__img_1_wrap {
        grid-column: 2 / 3;
        grid-row: 1;
        width: spSize(460);

        &::before {
          background-image: url(../img/sp_bg_4.jpg);
          width: spSize(460);
          height: spSize(598);
          top: spSize(201);
          left: spSize(-288);
        }
      }

      &__img_2_wrap {
        grid-column: 1 / 2;
        grid-row: 3;
        width: spSize(630);
      }

      &__credits_ul {
        grid-column: 1 / 1;
        margin-top: 0;
        font-size: spSize(24);
        letter-spacing: spSize(.5);
        line-height: spSize(29);
        width: 100%;
      }

      &__credits_li {
        margin-top: spSize(19);
      }
    }
  }

  .sec_9 {
    margin-top: 11.36rem;
    
    &__img_wrap {
      width: 25rem;
      // margin-left: 54.05rem;
      // 追加
      margin-right:auto;
      margin-left:auto;
    }
  }

  @media screen and (max-width: 767px) {
    .sec_9 {
      margin-top: spSize(159);

      &__img_wrap {
        width: spSize(419.5);
      }
    }
  }

  .lineup {
    margin-top: 11.05rem;
    padding: 9.9rem 0 13.6rem;
    background-color: #FFF8F8;
    overflow: hidden;

    &__title {
      margin-right:auto;
      margin-left:auto;
      width: fit-content;
      text-align: center;
      font-size: 4.1rem;
      letter-spacing: .05rem;
    }

    &__slider {
      border-bottom: solid 1px #E2E2E2;
      background-color: $color-white;
    }

    &__fast_slider {
      margin-top: 2.7rem;
      border-top: solid 1px #E2E2E2;

    }

    &__image {
      padding: 1.3rem 1.47rem 0.9rem;
      border-left: solid 1px #E2E2E2;
      width: 14.2rem;
    }

    &__links {
      margin: 11.6rem auto 0;
      width: fit-content;
    }

    &__btn {
      width: 40.35rem;

      &:last-child {
        margin-top: 0.4rem;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .lineup {
      margin-top: spSize(155);
      padding-top: spSize(135);

      &__title {
        font-size: spSize(64);
      }

      &__fast_slider {
        margin-top: spSize(47);
      }

      &__image {
        width: spSize(172.2);
        padding: spSize(27) spSize(20) spSize(25);
      }

      &__links {
        margin-top: spSize(160);
      }

      &__btn {
        width: spSize(660.6);

        &:last-child {
          margin-top: spSize(14);
        }
      }
    }
  }

  /* slider */
  .contents__max {
    width: 100%;
  }

  .swiper-wrapper {
    transition-timing-function: linear;
  }
}
